
{project_name, ngerlguten}.
{project_vsn, "2.5"}.

{tasks_build_compile_args, "-W1 +debug_info +nowarn_unused_function +warn_obsolete_guard +warning_as_errors"}.

{build_dir, "_build"}.

{ignore_dirs, ["_", "."]}.

{ignore_apps, []}.

{edoc_options, [{def,{version,"2.6"}},{stylesheet_file, "./lib/ngerlguten/doc/eg_stylesheet.css"}]}.


